# Assignment 7

## Submit as an HTML file

### Print your name below

In [2]:
print("lucas huang")

lucas huang

### Import the "pandas" "numpy" and "statsmodels.formula.api" libraries

In [4]:
# Write your answer here:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf

#### In the code chunk below read the CSV file named `results.csv` in the `data` <br> folder and print the first 5 rows of the dataset. Browse the dataset.

In [11]:
results = pd.read_csv("data/results.csv")
results[0:5]

   resultId  raceId  driverId  ...  fastestLapTime fastestLapSpeed  statusId
0         1      18         1  ...        1:27.452         218.300         1
1         2      18         2  ...        1:27.739         217.586         1
2         3      18         3  ...        1:28.090         216.719         1
3         4      18         4  ...        1:28.603         215.464         1
4         5      18         5  ...        1:27.418         218.385         1

[5 rows x 18 columns]

### (a)  Check Column Types and Data Cleaning

- Use the function .dtypes to get the column types
- Identify which columns have data types that might need conversion
- The 'milliseconds' column contains string values that should be numeric. Create a new column called 'race_time_ms' that:
    - Converts the column to a numeric data type
    - Replaces any non-numeric values with NaN

In [14]:
# Write your answer here
print(results.dtypes)
results['race_time_ms'] = pd.to_numeric(results['milliseconds'], errors='coerce')

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
race_time_ms       float64
dtype: object

### (b) Create Categorical Variables

- Create a new column called 'finish_category' that categorizes the race finish positions as follows:
    - Positions 1-3: 'Podium'
    - Positions 4-10: 'Points'
    - Positions 11-20: 'Midfield'
    - Positions >20: 'Backmarker'

Hint: Use the pd.cut() function

In [18]:
# Write your answer here
results['finish_category'] = pd.cut(
    results['positionOrder'],
    bins=[0, 3, 10, 20, float('inf')],
    labels=['Podium', 'Points', 'Midfield', 'Backmarker']
)

print(results[['positionOrder', 'finish_category']].head(21))

    positionOrder finish_category
0               1          Podium
1               2          Podium
2               3          Podium
3               4          Points
4               5          Points
5               6          Points
6               7          Points
7               8          Points
8               9          Points
9              10          Points
10             11        Midfield
11             12        Midfield
12             13        Midfield
13             14        Midfield
14             15        Midfield
15             16        Midfield
16             17        Midfield
17             18        Midfield
18             19        Midfield
19             20        Midfield
20             21      Backmarker

### (c) Calculate Race Duration
- For rows where 'milliseconds' is available, create a new column <br>
'race_duration_minutes' that converts milliseconds to minutes by dividing <br>
by (1000*60).
- Display the average race duration by 'constructorId' for the top 5 <br>
constructors with the shortest average race times

In [19]:
# Write your answer here
results['race_duration_minutes'] = results['race_time_ms'] / (1000 * 60)
top5_constructors = (
    results.groupby('constructorId')['race_duration_minutes']
    .mean()
    .nsmallest(5)
)

print(top5_constructors)

constructorId
35    76.710777
29    77.604125
41    87.046767
16    89.428828
53    89.658852
Name: race_duration_minutes, dtype: float64

### (d) Driver Performance Analysis

- Calculate the following statistics for each driver, grouped by 'driverId':
    - Average finishing position
    - Total points
    - Number of races completed
    - Best finishing position

- Sort the results by total points in descending order
- Display the top 10 drivers based on total points

In [20]:
# Write your answer here
driver_stats = results.groupby('driverId').agg(
    avg_position=('positionOrder', 'mean'),
    total_points=('points', 'sum'),
    races_completed=('positionOrder', 'count'),
    best_position=('positionOrder', 'min')
)
top10_drivers = driver_stats.sort_values(by='total_points', ascending=False).head(10)
print(top10_drivers)

          avg_position  total_points  races_completed  best_position
driverId
1             4.787097        4396.5              310              1
20            7.093333        3098.0              300              1
4             8.494413        2061.0              358              1
830           6.533742        1983.5              163              1
8             8.491477        1873.0              352              1
822           7.601990        1778.0              201              1
3             8.252427        1594.5              206              1
30            6.879870        1566.0              308              1
817           9.883621        1307.0              232              1
18            9.695793        1235.0              309              1

### (e) Linear Regression
Create a linear regression model that predicts 'points' based on 'grid' (starting position) and 'laps' completed <br>
Use the following steps:

- Clean the data to remove any non-numeric values and missing values
- Create the regression formula using smf.ols 
- Display the summary of the regression model using model.summary()

What is the predicted points for a driver starting in position 3 and completing 55 laps?

Hint: Use ```.dropna()''' to remove missing values from the points, grid, and laps <br>
variables.

In [21]:
# Write your answer here
clean = results[['points', 'grid', 'laps']].dropna()
regression = smf.ols(formula='points ~ grid + laps', data=clean).fit()
print(regression.summary())
prediction = regression.predict({'grid': [3], 'laps': [55]})
print("Predicted points:", prediction.values[0])

                            OLS Regression Results
==============================================================================
Dep. Variable:                 points   R-squared:                       0.215
Model:                            OLS   Adj. R-squared:                  0.215
Method:                 Least Squares   F-statistic:                     3530.
Date:                Sun, 23 Mar 2025   Prob (F-statistic):               0.00
Time:                        23:48:17   Log-Likelihood:                -70440.
No. Observations:               25840   AIC:                         1.409e+05
Df Residuals:                   25837   BIC:                         1.409e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.5841      0.054     48.267      0.000       2.479       2.689
grid          -0.2248      0.003    -70.621      0.000      -0.231      -0.219
laps           0.0393      0.001     50.779      0.000       0.038       0.041
==============================================================================
Omnibus:                    15818.159   Durbin-Watson:                   0.715
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           183648.109
Skew:                           2.804   Prob(JB):                         0.00
Kurtosis:                      14.795   Cond. No.                         130.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Predicted points: 4.070062614810003